$mainImageBackground: url('../../images/background_main.jpg');

.main {
  border: 1px solid black;
  text-align: center;
  position: relative;
  background-image: linear-gradient(rgba(231, 226, 222, 0.5), rgba(231, 226, 222, 0.5)), $mainImageBackground;
  background-position: top;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}