$textColor: #fff;
.big-button {
  cursor: pointer;
  width: 250px;
  height: 250px;
  transform: rotate(45deg);
  border-radius: 20px;
  border: none;
  outline: none;
  color: $textColor;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.15px;
  &:hover {
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,.6);
  }
  &:disabled {
    opacity: .4;
    cursor: default;
    &:hover {
      box-shadow: none;
    }
  }
  &_projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 191px;
    margin-left: 120px;
  }
  &_user {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -1;
    grid-row-end: -2;
    margin-top: -235px;
    margin-left: -60px;
    
  }
  &_market {
    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: -180px;
    margin-top: 70px;
  }
}
.big-button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
}